.thrity_five {
  color: #4186c4;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: -4px;
}
.w {
  font-size: 35px;
  padding-left: 1px;
  font-weight: bold;
  color: #000;
}
.navbar-default .navbar-brand {
  color: #000;
}
.navbar-default .navbar-nav > li > a {
  color: #4186c4;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 0 20px;
  /*border: 1px solid transparent;*/
  border: none;
}
.navbar-default {
  background-color: #fff;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
  color: #4186c4;
}
.navbar-default .navbar-nav > .dropdown > a {
  background-color: #fff;
  padding: 15px 0 0 0px;
  color: #4186c4;
}
.navbar-default .navbar-nav > .dropdown.open > a.dropdown-toggle {
  background-color: #fff;
}
.navbar-default .navbar-nav > .dropdown.open > .dropdown-menu {
  background-color: #fff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px;
  padding: 0px;
}