<form class="form-signin" {{action 'authenticate' on='submit'}}>
  <h2 class="form-signin-heading">Please sign in</h2>
  {{input id='identification' placeholder='Enter Login' value=identification}}
  {{input id='password' placeholder='Enter Password' type='password' value=password}}
  <button class="btn btn-large btn-primary" type="submit">Login</button>
  
  {{#if errorMessage}}
    <div class="alert alert-danger">
      {{errorMessage}}
    </div>
  {{/if}}
</form>